.header {
  grid-area: h;
  background:  #5181b8;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
  display: inline;
}



.headerLogo img {
  border-top: 2px;
  
  width: 60px;
  border-radius: 30%;
  
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
}

